.title{
    font-size: 30px;
    margin-bottom: 10px;
    display:block;
}
    

#gameSpace{
    width: 900px;
    height: 400px;
    border: 2px solid black;

    background-image: url("../assets/img/background.png");
    background-repeat: repeat-x;
    background-size: cover;
    position: relative;
}

#road{
    width: 900px;
    height: 87px;
    background-image: url("../assets/img/road.png");
    background-repeat: repeat-x;
    background-size: cover;
    background-position: bottom;
    position: absolute;
    bottom: 0;

}

#titleBox{
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    display: flex;

    border: 2px black;
}

.goat{
    bottom: 64px;
    left: 50px;
    width: 74px;
    height: 78px;
    background: url("../assets/img/goatSprites.png.png") no-repeat;
    background-size: 320px 78px; 
    animation: run 0.5s steps(4) infinite;
    z-index: 1;
    transition: bottom 0.25s ease-out;
    position: absolute;
}


@keyframes run{
    from { background-position: 0 0; }
    to { background-position: -320px 0; }
}

.obstacle{
    position: absolute;
    bottom: 58px;
    background-size: cover;
    z-index: 1;
}

.obstacle.poop{
    background-image: url("../assets/img/poop.png");
    width: 69px;
    height: 62px;
}

.obstacle.rock{
    background-image: url("../assets/img/rock.png");
    width: 115px;
    height: 68px;
}

.obstacle.egg{
    background-image: url("../assets/img/egg.png");
    width: 72px;
    height: 65px;
}

#points{
    position:absolute; 
    top:10px; 
    right:20px; 
    font-size:24px;
    font-size: 30;
}